[run]
source = src/profiles
branch = True
omit = 
    */tests/*
    */__main__.py

[report]
exclude_lines = 
    pragma: no cover
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    raise NotImplementedError
fail_under = 85
show_missing = True

[html]
directory = htmlcov
